# -*- conf -*-
[mysqldump]
add-drop-database
add-drop-table
comments
complete-insert
dump-date
order-by-primary
skip-extended-insert
user=root
password=abc123

[mysql]
prompt=[\\r:\m:\\s][\u@\h] \d >
user=root
password=abc123
auto_vertical_output
default_character_set=utf8
